@charset "UTF-8";

/* Importação da fonte  */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Geral */
:root {
  --cor01: #1b1b1b; /*Background*/
  --cor02: #ffae00;
  --cor03: #ff0000;

  --fonte-padrao: "Quicksand", Arial, sans-serif;
}

body {
  background-color: var(--cor01);
  color: white;
  font-family: var(--fonte-padrao);
}

/* Cabeçalho */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  font-weight: normal;
  text-align: center;
}
h1 {
  font-size: 4rem;
  text-transform: uppercase;

  margin-top: -5px;
  margin-bottom: 10px;
}
h2 {
  font-size: 2rem;
}

img#imagem-inicio {
  width: 125px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

/* Ocultar sessões no início */
section#escolher-intervalo {
  display: none;
}

/* INPUTS */
/* Input number (geral) */
input[type="number"] {
  background: none;

  border: 1px solid #ff7400;

  height: 80px;
  border-radius: 15px;

  text-align: center;
  color: white;
  font-size: 1.3rem;
}
input[type="number"]:hover {
  border-color: red;
}
input[type="number"]:focus {
  border-color: var(--cor02);
}
/* Input submit (geral) */
input[type="submit"] {
  margin-top: 18px;
  width: 100%;
  height: 50px;

  background-image: linear-gradient(120deg, var(--cor02), var(--cor03));
  border: none;
  border-radius: 10px;

  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;

  transition: box-shadow 0.5s ease;
}
input[type="submit"]:hover {
  /* background-image: linear-gradient(230deg, var(--cor02), var(--cor03)); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Formulário de intervalo */
#form-intervalo > div {
  display: flex;
  justify-content: space-between; /* Distribui os itens horizontalmente */
}
#form-intervalo input[type="number"] {
  width: 40vw;
}

/* Texto adivinhar */
p.texto-adivinhar {
  text-align: center;
  font-size: 1.5rem;
}

/* Formulário de adivinhar número */
#form-adivinhar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form-adivinhar input {
  width: 60vw;
}

/* Mensagem de resposta incorreta */
aside#resposta-incorreta {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  border: 1px solid var(--cor03);
  border-radius: 15px;

  display: flex;
  align-items: center;
}
aside#resposta-incorreta img {
  margin: 5px;
  width: 24vw;
  height: 24vw;
}
aside#resposta-incorreta > div {
  margin-left: 5px;
}
aside#resposta-incorreta p {
  font-size: 1.24rem;
  margin: 5px 2px;
}
